<div *ngIf="this.isDataAvailable" class="main-content">
  <div class="container-fluid">
      
      <div class="row">

        <div class="col col-lg-1"></div>
        <div class="col col-lg-10 text-center">
          <ul class="step-progress step-progress-rose text-center">
            <span *ngFor="let stg of [0,1,2,3,4]">
              <li [ngClass]="{'step-progress-active' : stg == school.stage, 'step-progress-complete': stg < school.stage, 'step-progress-incomplete' : stg > school.stage}">
                {{stg + 1}}
              </li>
              <li *ngIf="stg < 4">
                <hr>
              </li>
            </span>
          </ul>
        </div>
        <div class="col col-lg-1"></div>

      </div>
      <br>
      <div class="row">
        <div class="col col-lg-1"></div>
        <div class="col col-lg-10">

          <!-- STAGE 1 -->
          <div class="card" *ngIf="school.stage == 0">
                  <div class="card-header card-header-rose">
                      <h4 class="card-title">Basic Information</h4>
                      <p class="card-category">Tell us about your school</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                            <div class="col col-lg-6">
                              <div [ngClass]="{'drop-zone': !isActive && !isPreviewActive, 'drop-zone-highlighted': isActive && !isPreviewActive, 'text-center': true , 'drop-zone-unmarked': isPreviewActive}" (dragenter)="dragStart($event)" (dragover)="dragOver($event)" (dragleave)="dragEnd($event)" (drop)="onDrop($event)">
                                <div [ngClass]="{'schoolImagePreviewOff': !isPreviewActive, 'drop-zone-crosslabel': isPreviewActive}">
                                  <span style="cursor:pointer" (click)="clearPreview()">CLEAR</span>
                                </div>
                                <span [ngClass]="{'schoolImagePreviewOff': isPreviewActive, 'drop-zone-label': !isPreviewActive }">
                                  Drag & Drop you School's Display Picture<br>OR<br>
                                  <div mat-raised-button class="btn btn-rose text-center" style="font-weight: normal">
                                    Upload Image<input type="file" class="drop-zone-input" (change)="changeListener($event)"/>
                                  </div>
                                </span>
                                <img [ngClass]="{'schoolImagePreview': isPreviewActive, 'schoolImagePreviewOff': !isPreviewActive}" [src]="schoolImagePreview">
                              </div>
                            </div>
                            <div class="col col-lg-6">
                              <mat-form-field class="example-full-width">
                                <input [(ngModel)]="school.name" name="name" matInput placeholder="School Name" type="text" required>
                              </mat-form-field>
                              <mat-form-field class="example-full-width" (click)="openBoardDialog()">
                                <input disabled="true" [value]="school.board ? school.board.name : ''" name="board" matInput placeholder="Board" type="text">
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                <textarea [(ngModel)]="school.address" name="address" matInput placeholder="Address" required></textarea>
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                  <input [(ngModel)]="school.city" name="city" matInput placeholder="City" type="text" required>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" (click)="openStateDialog()">
                                  <input disabled="true" [value]="school.state ? school.state.name : ''" name="state" matInput placeholder="State" type="text">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                  <input [(ngModel)]="school.pincode " matInput  name="pincode" placeholder="Pincode" type="text" required>
                                </mat-form-field>
                            </div>
                          </div>
                          <button mat-raised-button type="button" class="btn btn-rose pull-right" (click)="next($event, school.stage + 1)">NEXT</button>
                          <button mat-raised-button type="button" class="btn btn-white pull-right" (click)="abort($event)" style="margin-right:10px;">ABORT</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
          </div>

          <!-- STAGE 2 -->
          <div class="card" *ngIf="school.stage == 1">
                  <div class="card-header card-header-rose">
                      <h4 class="card-title">Class Information</h4>
                      <p class="card-category">How many classes does your school have?</p>
                  </div>
                  <div class="card-body">
                      <form>
                        <h3 class="card-title">Preschool</h3>
                          <div class="table-responsive">
                            <table class="table">
                              <thead class=" text-rose">
                                <th>
                                    Select
                                </th>
                                <th>
                                    Standard
                                </th>
                                <th>
                                    Sections
                                </th>
                              </thead>
                              <tbody>
                                <tr>
                                    <td>
                                        <mat-checkbox></mat-checkbox>
                                    </td>
                                    <td>
                                        Playschool
                                    </td>
                                    <td>
                                        <mat-select placeholder="Number of sections">
                                          <mat-option *ngFor="let sectionCount of sectionCountArray">
                                            {{ sectionCount }}
                                          </mat-option>
                                        </mat-select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox></mat-checkbox>
                                    </td>
                                    <td>
                                        L.K.G
                                    </td>
                                    <td>
                                        <mat-select placeholder="Number of sections">
                                          <mat-option *ngFor="let sectionCount of sectionCountArray">
                                            {{ sectionCount }}
                                          </mat-option>
                                        </mat-select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox></mat-checkbox>
                                    </td>
                                    <td>
                                        U.K.G
                                    </td>
                                    <td>
                                        <mat-select placeholder="Number of sections">
                                          <mat-option *ngFor="let sectionCount of sectionCountArray">
                                            {{ sectionCount }}
                                          </mat-option>
                                        </mat-select>
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <button mat-raised-button type="button" class="btn btn-rose pull-right" (click)="next($event, school.stage + 1)">NEXT</button>
                          <button mat-raised-button type="button" class="btn btn-white pull-right" (click)="abort($event)" style="margin-right:10px;">ABORT</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
          </div>


        </div>
        <div class="col col-lg-1"></div>
      </div>

  </div>
</div>