
<head>
        <meta charset="utf-8">
        </head>
<div class="main-content" style="margin: 0;height: 100vh">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="card search-card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title">Send an enquiry with a single click</h2>
                        <h4 class="card-category">Get Genuine Parent Feedback on School | Find the Best Schools Near You</h4>
                    </div>
                    <div class="card-body">
                        <br>
                        <br>
                        <form>
                       <!-- <div class="row">
                                <div class="col-md-6">
                                    <carousel-component #topCarousel item-height="50vh" item-width="50vh">
                                            <div class="item-carousel">a</div>
                                            <div class="item-carousel">b</div>
                                            <div class="item-carousel">c</div>
                                            <div class="item-carousel">d</div>
                                            <div class="item-carousel">e</div>
                                            <div class="item-carousel">f</div>
                                    </carousel-component>
                                </div>
                            </div> -->  <!-- undo commenting and do the necessasry changes -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <button (click)="myFunction($event)" class="btn btn-rose">Start</button>
                                          <div id="myDropdown" class="dropdown-content" style="overflow: auto; max-height: 200px;">
                                            <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()">
                                                  
                                          </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-rose download">Schools Near You</button>
                                    <button mat-raised-button type="locationSearch" class="btn btn-danger pull-right" >SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12 text-center">
        <div class="card search-card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button class="btn btn-rose oval">Pre School</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-rose oval">Daycare</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-rose oval">High School</button>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="card search-card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Sort By</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>Distance</h4>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <input type="button" background="images/up_arrow.png" alt="Submit" width="48" height="48">
                                    </div>
                                    <div class="row">
                                        <input type="button" src="images/down_arrow.png" alt="Submit" width="48" height="48">
                                    </div>
                                                        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>Ratings</h4>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <input type="button" background="images/up_arrow.png" alt="Submit" width="48" height="48">
                                    </div>
                                    <div class="row">
                                        <input type="button" src="images/down_arrow.png" alt="Submit" width="48" height="48">
                                    </div>
                                                            
                                </div>
                            </div>
                                    
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-10 text-center">
                <div class="card search-card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title">Schools In</h2>
                        <h4 class="card-category">Some Area</h4>
                    </div>
                    <div class="card-body">

                    </div>   
                </div>
            </div>
            </div>
            </div>
            </div>
        
        </div>
    </div>
</div>