
<div class="main-content" style="margin: 0;height: 100vh">
    <div class="container-fluid">

            <div style="background-color: #e91e63; height: 30vh;width: 100vw;top:0;left:0;position: absolute;box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);">

                </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="card search-card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title">Send an enquiry with a single click</h2>
                        <h4 class="card-category">Get Genuine Parent Feedback on School | Find the Best Schools Near You</h4>
                    </div>
                    <div class="card-body">
                        <br>
                        <form *ngIf="currenView != 'startapp'">
                                <div class="row">
                                    <div class="card column" style="background-color:#aaa;">
                                        <h3>Search Schools of an Area</h3>
                                        <button (click)="myFunctionArea($event)" class="btn btn-rose btnStart">Search Using Area</button>
                                          
                                        <div class="row">
                                            <div class="col-md-8">
                                                
                                                        <mat-form-field class="example-full-width">
                                                    <input class="searchBox" type="text" placeholder="Search using Area...." id="myInputArea" (keyup)="filterFunctionArea()" onfocus="myFocus()" onblur="myBlur()">
                                                        </mat-form-field>
                                                    <div id="myDropdownArea" class="dropdown-content" style="overflow: auto; max-height: 200px;">
                                                                  
                                                    </div>
                                                
                                            </div>

                                            <div class="col-md-4">
                                                <button mat-raised-button type="locationSearch" class="btn btn-danger pull-right" >SUBMIT</button>
                                            </div>
                                        </div>


                                    </div>
                                        <div class="card column" style="background-color:#bbb;">
                                          <h3>Search for particular School</h3>
                                          <button (click)="myFunctionSchool($event)" class="btn btn-rose btnStart">Search Using School Name</button>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    
                                                            <mat-form-field class="example-full-width">
                                                        <input class="searchBox" type="text" placeholder="Search using SchoolName...." id="myInputSchool" (keyup)="filterFunctionSchool()" (focus)="myFocus()" (focusout)="myBlur()">
                                                        </mat-form-field>
                                                        <div id="myDropdownSchool" class="dropdown-content" style="overflow: auto; max-height: 200px;">
                                                        
                                                        </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <button mat-raised-button type="locationSearch" class="btn btn-danger pull-right" >SUBMIT</button>
                                                </div>
                                            </div>
                                          
                                        </div>
                                        <div class="card column" style="background-color:#ccc;">
                                            <h3>Find Schools Directly Near you</h3>
                                            <button class="btn btn-rose download btnStart" (click)="getLocationAndSearch()">Schools Near You</button>
                                        </div>
                                      </div>
                            
                                      
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <form>
        <div class="row">
        <div class="col-md-12 text-center">
        <div class="card search-card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button class="btn btn-rose oval">Pre School</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-rose oval">Daycare</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-rose oval">High School</button>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="card search-card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Sort By</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-8"><!--
                                    <h4>Distance</h4>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <input type="button" background="images/up_arrow.png" alt="Submit" width="48" height="48">
                                    </div>
                                    <div class="row">
                                        <input type="button" src="images/down_arrow.png" alt="Submit" width="48" height="48">
                                    </div>
                                                        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>Ratings</h4>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <input type="button" background="images/up_arrow.png" alt="Submit" width="48" height="48">
                                    </div>
                                    <div class="row">
                                        <input type="button" src="images/down_arrow.png" alt="Submit" width="48" height="48">
                                    </div>-->


<!--
                                    <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                          <input type="text" placeholder="search word" aria-label="Number" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
                                          <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let item of searchResult" [value]="item">
                                              {{ item }}
                                            </mat-option>
                                          </mat-autocomplete>
                                        </mat-form-field>
                                    </form>
-->



                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-10 text-center">
                <div class="card search-card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title">Schools In</h2>
                        <h4 class="card-category">Some Area</h4>
                    </div>
                    <div class="card-body">

                    </div>   
                </div>
            </div>
            </div>
            </div>
            </div>
        
        </div>
    </form>
    </div>
</div>